/* back link */
.blog-container{
    display: grid;
    grid-template-columns: 
    repeat(5,minmax(min-content,16rem)) ;
    grid-template-rows: repeat(3,min-content)
    60vh repeat(3,min-content);
    grid-row-gap:1.6rem;
    margin-top:1.6rem;
}
.back-screen{
    grid-column:1/2;
    grid-row: 1/2;
    padding: 3rem;
    font-size: 1.6rem;
    color:blue;
    text-decoration: none;
    margin-top:3rem;
    left:3rem;
    transform: color .1s;
    cursor: pointer;
}
.back-screen:hover{
    color:rgb(31, 39, 34);
}
/* end of back link */
/* Main part */
.main-part{
   
    
    
}
.main-title{
    grid-column: 1/-1;
    grid-row: 2/3;
    padding:3rem;
    font-size: 6rem;
    
    
}
.author-image{
    grid-column: 1/2;
    grid-row:3/4;
    width:10vw;
    height:10vh;
    object-fit: cover;
}
.author-info{
    grid-column: 2/5;
    grid-row:2/3;

     display:grid;
    grid-template-columns: repeat(2,minmax(5rem,1fr));
    grid-template-rows: repeat(2,min-content);
} 

.author-name{
    font-size:1.3rem;
    grid-column: 2/3;
    grid-row: 1/2;
    padding:0;
    margin-bottom :0;
    margin-left: -25rem;
    
}
.author-description{
    font-size:1.3rem;
    grid-column: 2/3;
    grid-row: 2/3;
    padding:0;
    margin-top:0;
    margin-left: -25rem;
    margin-bottom: 0;
}
/* end of main part */
/* main para */
.main-para{
    grid-column: 1/-1;
    grid-row:3/4;
    margin-left:3rem;
}
.para{
    margin-top:0;
    font-size:1.6rem;
}
.line-para{
    grid-column: 1/-1;
    grid-row:3/4;
    height:2rem;
    padding-left: .3rem;;
    border-left-style: solid;
    border-left-color:rgb(11, 11, 12);
    
}
/* end of main para */
/* banner */
.banner{
    grid-column: 1/5;
    grid-row:4/5;
}
.banner-image{
    grid-column: 1/5;
    grid-row:4/6;
    height:60vh;
}
.banner-img{
    width:100%;
    object-fit: cover;
    height:60vh;
}
.banner-para{
    grid-column: 1/5;
    grid-row:6/7;
    margin-top:0;
    font-size:1.6rem;
}
/* end of banner */